<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.ethereum.org/images/logos/ETHEREUM-ICON_Black_small.png" alt="" width="200" height="200">
    <h2>Truffle Smart Contract with Angular</h2>
    <p class="lead"></p>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Check Account Balance</h4>
      <form class="needs-validation" novalidate (ngSubmit)="checkBalance()" #balanceForm="ngForm">
        <div class="row">
          <div class="col-md-12 mb-3">
            <input type="text" class="form-control" id="paddr" name="paddr" #paddr="ngModel" placeholder="Account Public Address" [(ngModel)]="accountAddr" required minlength="40">
            <div class="invalid-feedback" *ngIf="paddr.invalid && (paddr.dirty || paddr.touched)">
              Valid public address (min 40 chars) is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!balanceForm.form.valid">Submit</button>
          </div>
        </div>
        <ether-account (onClosed)="accCloseClicked($event)" *ngFor="let acc of accounts" [publicAddress]="acc" [balance]="balancesMap[acc]"></ether-account>
      </form>
      <hr class="mb-4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Transfer Fund</h4>
      <form class="needs-validation" novalidate (ngSubmit)="sendCoin()" [formGroup]="transferFundForm">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="paddr">From Account</label>
            <input type="text" class="form-control" id="paddr3" name="paddr" placeholder="" formControlName="fromAddr" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['fromAddr'].invalid && (transferFundForm.controls['fromAddr'].dirty || transferFundForm.controls['fromAddr'].touched)">
              From account required and at least 40 characters.
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="paddr">To Account</label>
            <input type="text" class="form-control" id="paddr4" name="paddr" placeholder="" formControlName="toAddr" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['toAddr'].invalid && (transferFundForm.controls['toAddr'].dirty || transferFundForm.controls['toAddr'].touched)">
              To account is required and at least 40 characters.
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="paddr">Amount</label>
            <input type="number" class="form-control" id="paddr5" name="paddr" placeholder="" formControlName="amount" required>
            <div class="invalid-feedback" *ngIf="transferFundForm.controls['amount'].invalid && (transferFundForm.controls['amount'].dirty || transferFundForm.controls['amount'].touched)">
              Amount is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 mb-3">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!transferFundForm.valid">Submit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
              <label>Receipt </label>
              {{receipt | json}}
          </div>
        </div>
      </form>
      <hr class="mb-4">
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2018 Yang Zhang</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>